* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Убираем скролл */
    background-color: black;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Заполняет экран без искажений */
}

.button {
    position: absolute;
    top: 18.8%; /* Подкорректировал по пикселям */
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    font-size: 18px;
    background-color: #2e7d32;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
}

.button:hover {
    background-color: #1b5e20;
}
